
<p-card>
    <ng-template pTemplate="header">
        <h2>Formulario de Registro</h2>
    </ng-template>
    

    <ng-template pTemplate="body">
        <form [formGroup]="formVaccine" (ngSubmit)="Onsubmit">
      
            <div class="form-group" style="display: inline-block; margin-right: 5px;">
                <span class="p-float-label" >
                    <input type="text" id="inputtext" pInputText class="form-control" formControlName="brand" > 
                    <label for="inputtext">Marca</label>
                </span>
            </div>
    
            <div class="form-group" style=" margin-right: 5px; display: inline-block;">
                <span class="p-float-label" style="text-align: center;">
                    <input type="text" id="inputtext" pInputText class="form-control" formControlName="stock" > 
                    <label for="inputtext">Cantidad</label>
                </span>
            </div>
        
            <button pButton type="submit" label="Registrar" (click)="Onsubmit()" ></button>
            
        
        </form>

    </ng-template>
    
</p-card>


